<ion-header>
  <ion-toolbar class="title-container" color="dark">
    <ion-title class="header-title">Pokédex</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="grid-container">
    <div class="pokemon-card" *ngFor="let pokemon of pokemons" (click)="goToDetails(pokemon.name)">
      <img [src]="pokemon.sprites.front_default" class="pokemon-img" />
      <h2 class="pokemon-name">{{ pokemon.name | titlecase }}</h2>
      <div class="pokemon-types">
        <ion-chip *ngFor="let type of pokemon.types" [class]="'type-' + type.type.name">
          <ion-label>{{ type.type.name | titlecase }}</ion-label>
        </ion-chip>
      </div>
    </div>
  </div>

  <div class="pagination">
    <div class="arrow-button" [class.disabled]="currentPage === 1" (click)="prevPage()">
      <ion-icon name="arrow-previus"></ion-icon>
    </div>
    <span *ngIf="pageNumbers[0] > 1">...</span>
    <span *ngFor="let page of pageNumbers" class="page-number" [class.active]="currentPage === page"
      (click)="goToPage(page)">{{ page }}</span>
    <span *ngIf="pageNumbers[pageNumbers.length - 1] < totalPages">...</span>
    <div class="arrow-button" [class.disabled]="currentPage === totalPages" (click)="nextPage()">
      <ion-icon name="arrow-next"></ion-icon>
    </div>
  </div>

</ion-content>